.terraform/
*.tfstate
*.tfstate.*
*.tfvars.backup
.terraform.lock.hcl
*.auto.tfvars
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
*tfplan*
.terraformrc
terraform.rc
*.pem
*.key
.env
.DS_Store
*.log
